// Icons

@font-face {
	font-family: "lw-os";
	src:url("~@/assets/fonts/lw-os.eot");
	src:url("~@/assets/fonts/lw-os.eot?#iefix") format("embedded-opentype"),
	url("~@/assets/fonts/lw-os.woff") format("woff"),
	url("~@/assets/fonts/lw-os.ttf") format("truetype"),
	url("~@/assets/fonts/lw-os.svg#lw-os") format("svg");
	font-weight: normal;
	font-style: normal;

}
